<% provide(:title, "Home") %>

<p>This is the total number of posts: <%= @post.count %></p>

<%= render 'shared/new_post_link' %>

<% @post.reverse_each do |post| %>
  <p><%= post.rating  %>  <img src='/assets/arrow_up.png' />
      <img src='/assets/arrow_down.png' />
      <%= link_to post.descriptive_text, "http://" + post.link, :target => "_blank" %> -- 
      <%= post.created_at.strftime("%b %-d %Y, %l:%M %P (%Z)") %></p>
  <p><%= link_to post.comments.count.to_s + " comments", post_path(post.id) %></p>
<% end %>

