<h3>Enter a new link here:</h3>

<%= render "layouts/information" %>

<%= form_for :posts, url: posts_path do |f| %>
  <p>
    <%= f.label :link %>
    <%= f.text_field :link %>
  </p>
  <p>
    <%= f.label :descriptive_text %>
    <%= f.text_field :descriptive_text %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>

<p><%= link_to "Back to the main page", posts_path  %></p>