<!-- View for the individual posts page -->

<h3><%= link_to @post.descriptive_text, "http://" + @post.link %></h3>

<%= form_for :comments, url: comment_create_path do |f| %>
  <%= f.hidden_field :post_id, :value => @post.id %>
  <%= f.label :comment_text %>
  <%= f.text_area :comment_text %>
  
  <%= f.submit "Post comment" %>
<% end %>