<!-- View for the individual posts page -->

<% provide(:title, "Post") %>

<h3><%= link_to @post.descriptive_text, "http://" + @post.link %></h3>

<%= form_for :comments, url: comment_create_path do |f| %>
  <%= f.hidden_field :post_id, :value => @post.id %>
  <%= f.label :comment_text %>
  <%= f.text_area :comment_text %>
  
  <%= f.submit "Post comment" %>
<% end %>

<% @post.comments.each do |comment| %>
  <div>
    <%= comment.comment_text %>  --  <%= comment.created_at.strftime("%b %-d %Y, %l:%M %P (%Z)") %>
    <br />
    <%= @user_email %>
  </div>
<% end %>